<div class="row">
    <div class="st-col col-4 col-sm st-module">
        <h2>Simulation parameters</h2><br />
        <q-checkbox v-model="lock_random_generator" label="Lock random generator"></q-checkbox>
        <q-input v-model="sim_length" label="Simulation length" type="number" filled=""></q-input>
        <q-input v-model="num_agents" label="Number of agents" type="number" filled=""></q-input>
        <q-input v-model="transactions_per_cycle" label="Transactions per cycle" type="number" filled=""></q-input>
    </div>
    <div class="st-col col-4 col-sm st-module">
        <h2>Displayed percentiles</h2><br />
        <q-checkbox v-model="top_1" label="Display top 1%"></q-checkbox><br />
        <q-checkbox v-model="top_10" label="Display top 10%"></q-checkbox><br />
        <q-checkbox v-model="middle_40" label="Display middle 40%"></q-checkbox><br />
        <q-checkbox v-model="bottom_50" label="Display bottom 50%"></q-checkbox><br />
        <q-checkbox v-model="bottom_10" label="Display bottom 10%"></q-checkbox>
    </div>
    <div class="st-col col-4 col-sm st-module">
        <h2>Simulation model</h2><br />
        <q-select v-model="sim_model" :options = ":sim_model_options"></q-select>
    </div>
</div>